# Данные - НЕ коммитим, потому что:
# 1. CSV файлы огромные (сотни МБ)
# 2. Каждый может скачать сам с Kaggle
# 3. Экономим место в репозитории
data/
outputs/
# Файлы окружения - НЕ коммитим, потому что:
# 1. Содержат пароли и настройки
# 2. У каждого разработчика свои настройки
.env
*.env

# Логи Docker - НЕ коммитим, потому что:
# 1. Временные файлы
# 2. Не несут ценности для команды
docker.log
*.log

# Временные файлы Python - НЕ коммитим, потому что:
# 1. Генерируются автоматически
# 2. Зависят от системы
__pycache__/
*.pyc

postgres_data/
data/transaction_data.csv
